<% if user_signed_in?%>
	<h1>Welcome to Gig World!</h1>
<% else %>
	<div class="hero-unit">
		<h1>Welcome to GIG WORLD!</h1>
		<p>
			A place to brag about your lastest gig, Good or bad!
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path , class: "btn btn-primary btn-large"%>
		<p>
	</div>
<% end%>