<h1>About</h1>
<p>
	Here at Gig World feel free to post anything you would like about your latest gig.
	so have fun and just remember we love to do this work.
<p>	
	just make sure to upload a photo with your descrepition of the gig.
	
</p>
