<div class="footer">
	<small>
		<address>
		  <strong>Boom Boom, Inc.</strong><br>
		  11126 Riverside Dr, Apt 102<br>
		  North Hollywood, CA 91602<br>
		  <abbr title="Phone">P:</abbr> (626) 485-4137
		</address>
 
		<address>
		  <strong>James Worman</strong><br>
		  <a href="mailto:#">jb.worman@gmail.com</a>
		</address>
		built with help by:
	    <%= link_to "One Month Rails", "http://onemonthrails.com" %>
	    by  <%= link_to "mattan Griffel", "http://mattangriffel.com" %>
	<small>
</div>
